[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
After=sshd.service

[Service]
Type=forking
# Load python3 virtual env stuff
# force load via zsh for env var (go etc...)
ExecStart=zsh -c "emacs -q -l /home/master/repo/perso/nemaks/emacs-init.el --init-directory=/home/master/repo/perso/nemaks --daemon"
ExecStop=/usr/local/bin/emacsclient --eval "(kill-emacs)"
Restart=on-failure

[Install]
WantedBy=default.target

